@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap');

* {
    font-family: "Sarala", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: #222121
    
}

html,
body {
    margin: 0;
    height: 100%;
    
}

.nome-topo a{
    display: flex;
    position: relative;
    cursor: pointer;
    padding: 1px;
}

.container {

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background: linear-gradient(130deg,blue, orange);
    animation: fundo 7s linear infinite;
  
}

@keyframes fundo{
    100%{
        filter: hue-rotate(360deg);
    }
}



.main-inicial {
    flex: 1;
    min-width: 100%;

}


header {
    display: flex;
    justify-content: space-around;
    padding: 25px;
    align-items: center;
    flex-direction: row;
    

}


span {
    color: blue;
}

nav {
    text-align: center;
    font-size: 20px;
    gap: 30px;
}

a {

    padding: 20px;

}

header,
nav a:hover {
    border-radius: 50%;
    transition-duration: 0.4s;
    

}

main {

    border-top: 0.5px solid #FFF2E7;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.conteudo-principal{
    font-size: 60px;
    margin-top: 50px;

}

.conteudo-principal h1{
    font-weight: 700;
    line-height: 10vw;
    font-variation-settings: 'wght' 100, 'wght' 85;
}

.conteudo-principal h1{
    --delay:calc((var(--char-index) +1) * 400ms);
    animation: breathe 4000ms infinite both;
    animation-delay: var(--delay);

}

.conteudo-principal h1:hover{
    animation-play-state: paused;
}


@keyframes animacaoTexto{
    to {background-position-x: 200px;}

}

.conteudo-secundario {

    font-size: 30px;
    font-weight: 100;
    margin-bottom: 5rem;
}

footer {

    border-top: 0.5px solid #FFF2E7;
    padding: 1em;
    display: flex;
    margin-top: auto;
}

footer div {
    margin: 0 auto;
    display: flex;
    gap: 30px;
    transition-duration: 0.5s;
}

footer img {

    height: auto;
    width: 30px;
    border-radius: 10px;

}

footer img:hover {


    background-color: blue;


}

.projetos-links{
    text-align: center;
    position: relative;
    margin: 5rem auto;
    justify-content: center;
 
}


.projetos {
    
    padding: 10px;
    justify-content: center;

}



.projetos :hover {
    color: blue;
    transition-duration: 0.4s;

}

.experiencias {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}


.curso {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

}


@media (min-width: 120px) and (max-width: 600px) {


    body {
        overflow: auto;


    }

    header {
        flex-direction: column;
        align-items: center;
        width: 100%;

    }

    .nome-topo {
        padding-bottom: 15px;
    }

    header h1 {
        font-size: 25px;
    }

    nav {
        font-size: 0.5rem;
        flex-direction: column;

    }

    a {
        padding: 9px;
    }

    .conteudo-principal {
        font-size: 1.5rem;
        

    }

    .conteudo-secundario {
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }

    footer div {
        padding-top: 3rem;
        gap: 20px;
    }

}


@media (min-width: 601px) and (max-width: 1024px) {



    .container {
        display: flex;

    }

    body {
        overflow: auto;
    }

    a {
       padding: 0.7rem;
    }

    nav {
        font-size: 15px;
    }

    main {
        padding: 30px 20px;
    }

    .conteudo-principal {

        font-size: 2.1rem;
    }

    .conteudo-secundario {

        margin-bottom: 0.5rem;
    }


    main h2 {
        font-size: 20px;
    }
}